<body>
  
    <div>
        <img id="imagenFondo" src="img\daan-evers-tKN1WXrzQ3s-unsplash.jpg" alt="">

        <div id="fondoNegro"></div>
        <div id="intro">
            <p id="titulo_intro">Menu</p>
           <div  class="row">
                <div class="col-6">
                    <ul id="menu1">
                        <li class="li_estilo" ><a id="largo" href="http://localhost:3000/CCC">Registrar Usuario</a></li>
                        <li class="li_estilo"><a id="largo" href="http://localhost:3000/CCM">Alta Productos</a></li>
                        <li class="li_estilo"><a id="largo" href="http://localhost:3000/CTPA">Baja Productos</a></li>
                        <li class="li_estilo"><a id="largo" href="http://localhost:3000/CMC">Actualizar Productos</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul id="menu2">
                        <li class="li_estilo" ><a id="largo" href="http://localhost:3000/CPA">Consultar Inventario</a></li>
                        <li class="li_estilo"><a id="largo" href="http://localhost:3000/CVE">Crear Pedido</a></li>
                        <li class="li_estilo"><a id="largo" href="http://localhost:3000/CES">Mostrar Pedidos</a></li>
                        <li class="li_estilo"><a id="largo" href="http://localhost:3000/CAC">Eliminar Pedido</a></li>
                    </ul>
                </div>
           </div>
        </div>
    </body>
  
    
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="js/main.js"></script>
    </body>
    
   