<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= tituloweb %></title>
    <link rel="stylesheet" href="css/estilos.css" />
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://releases.jquery.com/git/jquery-3.x-git.js"></script>
    <!-- <script>
      $(document).ready(function (e) {
        tokenX = sessionStorage.getItem("tToken");
        if (tokenX === null) {
          alert("No se encuentra una sesión activa, favor de inciarla.");
          window.location.replace("http://localhost:3000/");
        } else {
          
        }
      }); -->
    </script>
  </head>
</html>
