<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
</head>
<style>
    #tablaventa{
        width: max-content;
        
    }
    
</style>
<body onload="mostrarPedidos()">
    
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">id</span>
                    <input  placeholder="Ingrese id para eliminar" type="number" class="form-control" id="idProducto" aria-describedby="basic-addon3">
                  </div>
                  <button onclick="eliminar()" type="button" class="btn btn-danger">Eliminar</button> 
                  <button class="btn btn-danger" id="btna2" ><a id="btna" href="http://localhost:3000/menu">Menu</a></button>     
            </div>
            <div id="lalo" class="col-8">
                <table id="tablaventa" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id Venta</th>
                            <th>Nombre cliente</th>
                            <th>N productos</th>
                            
                        </tr>
                    </thead>
                    <tbody id="tabla">

                    </tbody>
                  </table>
            </div>
            <div class="col-8">

            </div>
        </div>
    </div>




</body>
<script>
    function mostrarPedidos() {
        axios.get('http://localhost:3000/mostrarpedidos')
          .then((response)=>{
            const data = response.data;
            console.log(data);
            const tabla = document.getElementById('tabla');
            tabla.innerHTML="";
            data.forEach(venta => {
               
                size = tabla.length;
                row = tabla.insertRow(size);

                cell1 = row.insertCell(0);
                cell2 = row.insertCell(1);
                cell3 = row.insertCell(2);
                
                
                cell1.innerHTML = venta.idVenta;
                cell2.innerHTML = venta.Nombre_cliente;
                cell3.innerHTML = venta.Cantidad;

                
            });
            
          })
          .catch((error)=>{
            console.log(error);
          });

        
    }


    function eliminar() {
        const idProducto = document.getElementById('idProducto').value;
        console.log(idProducto);
        axios.delete('http://localhost:3000/eliminarProducto1/'+idProducto)
          .then((response)=>{
           
          })
          .catch((error)=>{
            console.log(error);
          });
          axios.delete('http://localhost:3000/eliminarProducto2/'+idProducto)
          .then((response)=>{
            alert("producto eliminado")
          })
          .catch((error)=>{
            console.log(error);
          });


          mostrarPedidos()
        
    }
</script>




</html>
